// layout/_media-queries.scss

@media (max-width: 768px) {
    #header > div {
        flex-direction: column;
        align-items: stretch;
    }

    #header #searchBar {
        margin-top: 10px;
        width: 100%;
    }

    footer .nav-link {
        width: 100%;
    }

    .featuredList ul li {
        flex-basis: calc(50% - 20px);
    }
}