.aboutSection {
  margin: 20px; 
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden; 

  .brokerImage {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 20px;
  }

  .storyContent {
      h1 {
          margin-bottom: 20px;
      }

      h3 {
          color: $color-gray-dark;
          margin-top: 20px;
          margin-bottom: 10px;

          &:nth-child(n+1) {
              margin-bottom: 1rem;
          }
      }

      p {
          text-align: justify;
          margin-bottom: 10px;
      }

      a {
          color: $color-blue;
          text-decoration: none;

          &:hover {
              text-decoration: underline;
          }
      }
  }
}