// pages/_products.scss

.productsSection {
  padding: 20px;

  .col-md-4 {
      margin-bottom: 30px; /* Adjust the margin-bottom as needed */
  }

  .equal-height-row {
      display: flex;
      flex-wrap: wrap;
  }

  .productItem {
      background: #fff;
      border: 1px solid #ddd;
      margin-bottom: 20px; /* Add margin between .productItem elements */
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      display: flex; /* Make .productItem a flex container */
      flex-direction: column; /* Arrange child elements vertically */
      justify-content: space-between; /* Align child elements vertically */
      height: 100%; /* Ensure .productItem takes up full height */
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */

      &:hover {
          transform: translateY(-10px); /* Move up on hover */
          box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Darker shadow on hover */
      }

      img {
          max-width: 100%;
          height: auto;
          margin-bottom: auto; /* Align image to the middle */
      }

      h2 {
          margin-top: auto; /* Align h2 to the bottom */
      }

      p {
          margin-top: 0; /* Remove default margin to avoid extra space */
          margin-bottom: 0; /* Remove default margin to avoid extra space */
      }
  }
}