@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #007bff;
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #007bff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
}

header {
  border-bottom: 1px solid #333;
}

#header.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.header .nav-link {
  transition: color 0.3s ease-in-out;
  margin-left: 8px;
  margin-right: 8px;
}
.header .nav-link:hover {
  transform: scale(1.1);
}

#logo img {
  height: 50px;
  width: auto;
}

/* Footer styling with some customization for Bootstrap */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #007bff;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
}

.headline {
  margin: 1.2rem;
}

#main-video .row {
  margin-right: 0;
  margin-left: 0;
}

.videoWrapper {
  position: relative;
  overflow: hidden;
  height: 50vh;
  top: 0;
  left: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.featuredList img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Add transition for scaling */
}
.featuredList img:hover {
  transform: scale(1.05); /* Scale up on hover */
}
.featuredList h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}
.featuredList p {
  font-size: 1rem;
  padding: 0 10px;
}

.aboutSection {
  margin: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.aboutSection .brokerImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
.aboutSection .storyContent h1 {
  margin-bottom: 20px;
}
.aboutSection .storyContent h3 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}
.aboutSection .storyContent h3:nth-child(n+1) {
  margin-bottom: 1rem;
}
.aboutSection .storyContent p {
  text-align: justify;
  margin-bottom: 10px;
}
.aboutSection .storyContent a {
  color: #007bff;
  text-decoration: none;
}
.aboutSection .storyContent a:hover {
  text-decoration: underline;
}

.contactSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.contactSection h1 {
  margin-bottom: 40px;
}

.contactText,
.contactForm {
  flex: 1;
  padding: 20px;
}

.contactText {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  line-height: 1.6;
  color: #333;
}
.contactText h2 {
  margin-bottom: 16px;
}

.contactForm {
  max-width: 600px;
}
.contactForm label {
  display: block;
  margin-bottom: 5px;
}
.contactForm input[type=text],
.contactForm input[type=email],
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
.contactForm input[type=text]:focus,
.contactForm input[type=email]:focus,
.contactForm textarea:focus {
  border-color: #007bff;
}
.contactForm button[type=submit] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.contactForm button[type=submit]:hover {
  background-color: #0056b3;
}

.faqSection {
  margin-top: 1.25rem;
  text-align: center;
}
.faqSection .faqList {
  list-style: none;
  padding: 0;
}
.faqSection .faqList .faqCard {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: left;
  transition: transform 0.3s ease-in-out box-shadow 0.3s ease-in-out ease-in-out;
}
.faqSection .faqList .faqCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.1);
}
.faqSection .faqList .faqCard h3 {
  margin-bottom: 0.625rem;
}
.faqSection .faqList .faqCard hr {
  margin: 0.625rem 0;
  border: 0;
  border-top: 1px solid #ddd;
}
.faqSection .faqList .faqCard p {
  margin-bottom: 0;
}

.productsSection {
  padding: 20px;
}
.productsSection .col-md-4 {
  margin-bottom: 30px; /* Adjust the margin-bottom as needed */
}
.productsSection .equal-height-row {
  display: flex;
  flex-wrap: wrap;
}
.productsSection .productItem {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px; /* Add margin between .productItem elements */
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex; /* Make .productItem a flex container */
  flex-direction: column; /* Arrange child elements vertically */
  justify-content: space-between; /* Align child elements vertically */
  height: 100%; /* Ensure .productItem takes up full height */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */
}
.productsSection .productItem:hover {
  transform: translateY(-10px); /* Move up on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}
.productsSection .productItem img {
  max-width: 100%;
  height: auto;
  margin-bottom: auto; /* Align image to the middle */
}
.productsSection .productItem h2 {
  margin-top: auto; /* Align h2 to the bottom */
}
.productsSection .productItem p {
  margin-top: 0; /* Remove default margin to avoid extra space */
  margin-bottom: 0; /* Remove default margin to avoid extra space */
}

@media (max-width: 768px) {
  #header > div {
    flex-direction: column;
    align-items: stretch;
  }
  #header #searchBar {
    margin-top: 10px;
    width: 100%;
  }
  footer .nav-link {
    width: 100%;
  }
  .featuredList ul li {
    flex-basis: calc(50% - 20px);
  }
}